* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Genos, sans-serif;
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  background: #e0fbff;
  color: white;
  overflow-x: hidden;
}

hr {
  height: 1px;
  background-color: #146360;
  border: none;
}

nav {
  position: sticky;
  background: #146360;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

[class*="title"] {
  color: #146360;
  font-size: 70px;
  padding-bottom: 50px;
  text-align: center;
}

[class*="section"] {
  padding: 50px 0;
  min-height: 100vh;
}

/* ############# Nav Bar ############## */

nav div {
  display: flex;
  justify-content: center;
  text-align: center;
}

.tabs {
  padding: 15px 20px;
  background: #146360;

  font-size: 18pt;
  text-decoration: none;
  color: inherit;

  transition: color 300ms ease-in-out;
}

#menu-button {
  display: none;
}

.tabs:hover {
  background: #269e9a;
}

/* ############# Home ############## */

.home-section {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(to top, #8ae5ff, #e0fbff);
}

.home-container {
  position: sticky;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-container h1 {
  font-size: 35pt;
  color: orangered;
  text-shadow: 0px 0px 0.5px black;
  line-height: 1.5;
  margin: 0 10px;
}

.home-button {
  height: 44px;
  width: 300px;
  background-image: linear-gradient(red, rgb(255, 110, 58));
  margin: 16px;
  border-radius: 50px;
  transform-style: preserve-3d;
  overflow: visible;
  transition: transform 300ms ease-out;
}

#special {
  position: absolute;
  left: 0;
  right: 0;
  padding: 8px 16px;
  color: white;
  text-decoration: none;
  font-size: 1.7rem;
  transform: translateZ(40px);
}

.home-background {
  position: absolute;
  height: 50%;
  width: 110%;
  bottom: 0;
}

.clouds {
  top: 0;
  height: 80%;
  left: -5%;
  width: 110%;
}

/* ############# About ############## */
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  /* background: url(green-background.jpg) no-repeat fixed top; */
  /* background-size: cover; */
  /* When using the shorthand property the order of the property values is:

        background-color
        background-image
        background-repeat
        background-attachment
        background-position */
}

.about-container {
  width: 75vw;
  min-width: 1130px;
  max-width: 1400px;
  height: auto;
  min-height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  background: white;
  color: black;
  border-radius: 48px;
  box-shadow: 0 0 5px black;
  padding: 1%;
  row-gap: 20px;
}

.about-item {
  width: 40%;
  height: 100%;
  border-radius: 48px;
  padding: 1%;
}

.about-body-text {
  width: 60%;
  height: 100%;
  padding-left: 1.5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
}

.about-body-text p {
  font-size: 24px;
}

.about-body-text-qualities {
  display: flex;
  justify-content: space-between;
  margin: 1.5% 0;
}

.about-body-text-qualities div {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  background: #288380;
  color: white;
}

.about-container a {
  margin: 2% 40%;
  width: 20%;
  padding: 15px 0;
  border-radius: 1em;
  color: white;
  font-size: 24px;
  text-decoration: none;
  background-image: linear-gradient(red, rgb(255, 110, 58));
  text-align: center;
}

.about-container a:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

/* ############# Skills ############## */
.skills-section {
  background: #146360;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.skills-title {
  color: white;
  margin-bottom: 30px;
}

.skills-container {
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 100px;
  row-gap: 75px;
  align-items: center;
}

.skill {
  color: black;
  transition: transform 200ms ease-in-out;
}

.skill:hover {
  transform: rotate(10deg) translateY(-10px) scale(1.1);
}

.skill img {
  width: 110px;
  height: 110px;
}

.skill p {
  opacity: 0;
  transform: translateY(20px);
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

/* ############# Portfolio ############## */

.portfolio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  max-height: min-content;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 25px;
  row-gap: 25px;
  text-align: center;
  align-items: center;
}

.project {
  color: black;
  background: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  padding: 25px;
  border-radius: 1rem;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  box-shadow: 0px 0px 2px 0px rgb(212, 208, 208);
}

.project img {
  width: 200px;
  height: 200px;
  border-radius: 2em;
  transform: translateZ(30px);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: transform 300ms ease-in-out;
}

.project p {
  transform: translateZ(60px);
}

/* ############# Blog ############## */
.blog-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.blog-container {
  width: 75%;
  min-width: 900px;
  min-height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background: white;
  color: black;
  border-radius: 48px;
  box-shadow: 0 0 5px black;
  padding: 2%;
}

.blog-text {
  color: black;
  font-size: 20px;
}

/* ############# Contact ############## */
.contact-footer {
  background-color: #302f2f;
  color: white;
  padding: 5% 0 8%;
}

.contact-title {
  color: white;
}

.contact-contents {
  display: flex;
  justify-content: center;
}

.change-color {
  margin: 0 5vw;
  width: 50px;
  height: 50px;
  filter: invert(100%) sepia(0%) saturate(7476%) hue-rotate(310deg)
    brightness(107%) contrast(103%);
}

.change-color:hover {
  filter: invert(12%) sepia(99%) saturate(4966%) hue-rotate(174deg)
    brightness(86%) contrast(84%);
  transition: filter 300ms ease-in-out;
}

/* ############# Mobile-Compatability ############## */
@media only screen and (max-width: 1200px) {
  .portfolio-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 900px) {
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 750px) {
  [class*="title"] {
    font-size: 60px;
  }

  .drop-down-menu {
    position: absolute;
    flex-direction: column;
    align-items: end;
    top: 0;
    right: 0;
  }

  #menu-button {
    display: block;
  }

  .drop-down-menu .tabs {
    display: none;
  }

  .drop-down-menu .tabs + .active {
    width: 120px;
    display: block;
  }

  .home-container {
    top: 20%;
  }

  .home-container h1 {
    font-size: 25pt;
  }

  .home-background {
    object-fit: cover;
  }

  .about-container {
    min-width: min-content;
  }

  .about-item {
    width: 100%;
    height: 100%;
  }
  .about-body-text {
    width: 100%;
  }

  .about-body-text p {
    font-size: 20px;
    padding-bottom: 5%;
  }

  .about-body-text-qualities {
    width: 100%;
    font-size: 10vw;
    flex-wrap: wrap;
  }

  .about-body-text-qualities div {
    width: 30%;
    font-size: 20px;
    padding: 15px 10px;
    border-radius: 1rem;
    font-size: 16px;
  }

  .skills-container {
    grid-template-columns: 1fr 1fr;
  }

  .blog-container {
    padding: 30px 10px;
    min-width: min-content;
  }

  .portfolio-container {
    grid-template-columns: 1fr;
  }
}
